// utils styles
@import 'utils/variables';
@import 'utils/visually-hidden';

// base styles
@import 'base/base';
@import 'base/reset';

// components styles
@import 'components/container';
@import 'components/title';
@import 'components/section';
@import 'components/card-set';
@import 'components/logo';
@import 'components/btn';
@import 'components/soicial';
@import 'components/backdrop';
@import 'components/_modal';
@import 'components/mobile-menu';

// layout styles
@import 'layout/header';
@import 'layout/nav';
@import 'layout/contacts';
@import 'layout/hero';
@import 'layout/advantages';
@import 'layout/work';
@import 'layout/team';
@import 'layout/partners';
@import 'layout/footer';

@import 'layout/portfolio-filter';
@import 'layout/portfolio';