.footer {
    background-color: var(--hero-bg-color);
    padding: 60px 0px;

        &__flex {
            // display: flex;
            // align-items: baseline;
            // gap: 70px;
        }
    
        &__logo {
            display: inline-block;

            &--white{
                color: var(--white-text-color);
            }
        }
}

.footer__flex{
    @media screen and (max-width: 1200px) {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }
}

.footer-tablet-flex{
display: flex;
flex-direction: column;
gap: 60px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        justify-content: unset;
        margin-bottom: 0;
        gap: 70px;
    }
}
.footer-mailing{
    @media screen and (min-width:1200px){
        margin-left: auto;
    }
}

.footer-address {
    font-style: inherit;
    color: rgba(255, 255, 255, 0.6);

    
    &__item {
        transition: color var(--transition);

        &:hover,
        &:focus{
            color: var(--hover-text-color);
        }

        &:not(:last-child){
            margin-bottom: 8px;
        }
    }

    &__link{
        color: var(--white-text-color);
        transition: color var(--transition);

        &:hover,
        &:focus{
            color: var(--hover-text-color);
        }
    }
}



.footer-subscribe__title {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white-text-color);
    line-height: calc(16 / 14);
}

.subscribe-form__flex {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.subscribe-form__input {
    outline: 0;
    padding: 15px 0 15px 16px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 450px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        width: 358px;
        margin-right: 12px;

    }
}

.subscribe-form__icon {
    margin-left: 10px;
    fill: currentColor;
}