.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-main-color);
    z-index: 999;

    &__wrrap{
        display: flex;
        align-items: center;

        @media screen and (min-width:768px) {
            justify-content: space-between;
            align-items: center;
        }

            @media screen and (max-width: 767px) {
                justify-content: space-between;
            }

            @media screen and (min-width: 1200px) {
                justify-content: normal;
            }
    }
    
    &__logo {

    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
         @media screen and (min-width: 1200px) {
             margin-right: 92px;
         }

    @media screen and (max-width: 767px) {
        margin-right: 0;
    }

       &--black{
        color: var(--main-text-color);
    }
}
}

