.nav{
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-text-color);
}

.nav__iteam:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition);

    &:hover,
    &:focus{
        color: var(--hover-text-color);
    }

    &--current{
        position: relative;
        color: var(--hover-text-color);

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: var(--hover-text-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;
        }
    }
}
