.partners__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    --items: 2;

    @media screen and (min-width: 768px) {
        --items: 3;
    }

    @media screen and (min-width:1200px) {
        --items: 6;
    }
}
.partners__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-soacial);
    fill: var(--color-icons);
    border-radius: 4px;
    padding: 16px;
    transition: fill var(--transition), border var(--transition),
    filter var(--transition);

        &:hover,
        &:focus {
            fill: var(--hover-text-color);
            border: 1px solid var(--hover-text-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
}

.partners__icon {
    width: 106px;
    height: 60px;
}