.portfolio-filter-list {
    margin-bottom: 40px;
    padding: 0;
    margin: 0;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    --items: 4;

        &__btn {
            padding: 6px 22px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.03em;
            color: var(--main-text-color);
            background-color: var(--second-bg-color);
            font-family: "Roboto", sans-serif;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            transition: background-color var(--transition), color var(--transition),
            box-shadow var(--transition);

            &:hover,
            &:focus,
            &--current{
                background-color: var(--hover-text-color);
                color: var(--white-text-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 2px 2px rgba(0, 0, 0, 0.12);
            }
        }
}

