.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    --items: 1;

    @media screen and (min-width:768px) {
        --items:2;
    }

        @media screen and (min-width:1200px) {
            --items: 3;
        }
}

.portfolio-list__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.portfolio-list__thumb {
    position: relative;
    overflow: hidden;

    &--text{

    }
}

.portfolio-list__thumb-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus &{
        transform: translateY(0%);
    }
}

.portfolio-list__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    min-width: 322px;
}

.portfolio-list__wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
}

.portfolio-list__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-list__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}