.work {
    padding-bottom: 94px;

        &__title {
            margin-bottom: 50px;
        }
    
        &__iteam {
            position: relative;
            flex-basis: calc((100% - 60px) / 3);
        }
    
        &__text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 27px;
            font-size: 14px;
            line-height: calc(16 / 14);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--white-text-color);
            background-color: var(--work-bg-color);
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
}

