.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    // min-height: 609px;
    background: var(--bg-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var(--transition);

    @media screen and (max-height: 400px) {
        height: 100%;
        overflow: auto;
    }
    @media screen and (min-width: 1200px) {
        max-width: 528px;
        max-height: 581px;
    }
}

.modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translate(-8px, 8px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: border-color var(--transition), fill var(--transition);
}

.modal__button-close:hover,
.modal__button-close:focus {
    border-color: var(--hover-text-color);
    fill: var(--hover-text-color);
}

/* Modal */
.modal__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.modal__label {
    display: flex;
    flex-direction: column;
}

.modal__label:not(:last-child) {
    margin-bottom: 10px;
}

.modal__name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    transition: border-color var(--transition);
    outline: transparent;
}

.modal__wrap {
    margin-bottom: 20px;
}

.modal__comment {
    outline: none;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
}

.modal__comment::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__comment:hover,
.modal__comment:focus {
    border-color: var(--hover-text-color);
}

.modal__icon {
    width: 18px;
    height: 18px;
    transition: fill var(--transition);
}

.modal__position-icon {
    position: relative;
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal__input:hover+.modal__icon,
.modal__input:focus+.modal__icon {
    fill: var(--hover-text-color);
}

.modal__input:hover,
.modal__input:focus {
    border-color: var(--hover-text-color);
}

.primes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}


.primes__link {
    color: var(--hover-text-color);
    text-decoration: underline;
    text-underline-position: under;
}

.modal__btn:hover {
    background-color: var(--button-hover);
}

.primes__icon-check {
    opacity: 0;
    transition: opacity var(--transition);
}

.primes__checkbox:checked+.primes__icons .primes__icon-unchecked {
    opacity: 0;
    transition: opacity var(--transition);
}

.primes__checkbox:checked+.primes__icons .primes__icon-check {
    opacity: 1;
}

.primes__checkbox:hover+.primes__icons .primes__icon-unchecked,
.primes__checkbox:focus+.primes__icons .primes__icon-unchecked {
    fill: var(--hover-text-color);
}