.mobile-menu{
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: transparent;
    border: transparent;
    margin: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mobile-menu__icon-cross{
    display: none;
}

.mobile-menu.is-active .mobile-menu__icon-cross{
    display: block;
}
.mobile-menu.is-active .mobile-menu__icon-menu {
    display: none;
}