body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding-top: 81px;

    @media screen and (max-width: 767px) {
        padding-top: 60px;
    }
}

.no-scroll {
    overflow: hidden;
}